atomicwrites==1.4.0
attrs==20.1.0
awscli==1.18.23
backcall==0.1.0
boto3==1.13.8
botocore==1.16.8
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
decorator==4.4.2
docutils==0.15.2
idna==2.9
iniconfig==1.0.1
ipython==7.5.0
ipython-genutils==0.2.0
jedi==0.16.0
jmespath==0.9.5
krippendorff==0.2.3
more-itertools==8.5.0
numpy==1.18.1
packaging==20.4
pandas==1.0.2
parso==0.6.2
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==2.0.10
py==1.9.0
pyasn1==0.4.8
Pygments==2.6.1
pyparsing==2.4.7
pytest==6.0.1
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
requests==2.23.0
rsa==3.4.2
s3transfer==0.3.3
six==1.14.0
toml==0.10.1
traitlets==4.3.3
unicodecsv==0.14.1
urllib3==1.25.8
uuid==1.30
wcwidth==0.1.8
