a:link {
    text-decoration: none;
}
  
a:hover {
text-decoration: none !important;
}
  
.active, .collapsible:hover {
    background-color: #555;
}

.teal-gradient {
    background-image: linear-gradient(#DDEAEC, white);
    height: 100px;
}

h3 {
    color: #323648;
    font-size: 32px;
    margin: 0px;
    background-position: right bottom;
    /* text-decoration: underline; */

    transition: .4s ease-out;
}

div.tooltip {
    display: inline-block;
    position: absolute;
    text-align: center;
    width: 80px;
    height: 45px;
    padding: 10px;
    font: 14px sans-serif;
    font-weight: bold;
    background: lightgrey;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#articleList {
    margin-top: 40px; /* I think we can just increase this to fix Nick's bug */
}

.articleEntry {
    min-height: 250px;
    margin: 20px;
    padding-left: 100px;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    column-gap: 50px;
}

.spanLink {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

.entryDate {
    overflow-wrap: break-word;
    position: relative;
    top: 20%;
}

.entryText {
    place-self: center;
    position: relative;
}

.entryText:hover h3 {
    border-radius: 12px;
    background-position: left bottom;
    background-color: rgba(54, 120, 150, 0.12);
    padding-left: 10px;
    text-decoration: none;
}

.loader {
    border: 13px solid #f3f3f3; /* Light grey */
    border-top: 13px solid #3498db; /* Blue */
    border-radius: 100%;
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
    display: none;
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .filters {
    width: 500px;
    display: grid;
    column-gap: 30px;
    grid-template-columns: 50% 50%;
    margin-left: 120px;
    font-size: 20px;
  }
